# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build
dist/
.next/
out/
coverage/
*.tsbuildinfo

# Logs / OS
*.log
.DS_Store
Thumbs.db

# Prisma
prisma/*.db

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Uploads local
.storage/

# Docker
docker-data/
